@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.navbar {
    background-color: $color-gray-100;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    &__container {
        @include container;
        @include flex-between;
        height: $navbar-height;
        border-bottom: .0625rem solid $color-gray-200;

        .navbar__toggle {
            display: none;
        }
    }

    &__logo {
        font-size: $fs-xl;
        font-weight: 700;
        color: $color-primary;

        & span {
            font-size: $fs-xl;
        }

    }

    &__links {
        @include flex-center;
        gap: $space-24;

        a {
            font-size: $fs-base;
            font-weight: 600;
            color: $text-primary;

            &:hover {
                color: $color-primary;
            }
        }
    }
}