// Navbar styles
@use '../utils/variables' as *;

.navbar {
    background-color: $secondary-color;
    color: $background-color;
    padding: $spacing-sm $spacing-md;

    &__brand {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__links {
        list-style: none;
        display: flex;
        gap: $spacing-md;
    }
}