/* utility.css */
:root {
    --clr-bg: #fdfcf8;
    --clr-text: #2b2b2b;
    --clr-accent: #7a4b2a;
    --clr-subtext: #555;
    --clr-border: #d8c7a6;
    --clr-link: #4a6fa5;
    --clr-section-bg: #f7f3ea;


    --ff-base: 'Merriweather', serif;
    --ff-title: 'Playfair Display', serif;
}


/* Josh W Comeau reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-text);
    font-family: var(--ff-base);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}



/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-family: var(--ff-title);
    color: var(--clr-accent);
}

a {
    color: var(--clr-link);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}