.game-turn-winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial, sans-serif';
    margin: 20px;
    color: antiquewhite;
}