// About section styles
@use '../utils/variables' as *;

.about {
    padding: $spacing-xl 0;
    background-color: $light-gray;

    &__content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 $spacing-md;
        text-align: center;

        h2 {
            font-size: 2.5rem;
            margin-bottom: $spacing-md;
        }
    }
}