@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.pricing {
    text-align: center;
    margin-top: $space-80;

    &__container {
        @include container;
        border-radius: $radius-lg;
    }

    &__grid {
        @include grid-cols(3);
        gap: $space-32;
        padding: $space-56 0;
    }


}