@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.programs {
    margin-top: $space-80;

    &__container {
        @include container;
        border-radius: $radius-lg;
    }

    &__grid {
        @include grid-cols(3);
    }
}