@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.trainers {
    &__container {
        @include container;
        margin-top: $space-80;
        border-radius: $radius-lg;
    }

    &__title {
        font-size: $fs-xl;
        font-weight: 700;
        color: $text-primary;
        margin-bottom: $space-8;
        text-align: center;
    }

    &__subtitle {
        font-size: $fs-lg;
        color: $text-muted;
        margin-bottom: $space-32;
        line-height: 1.5;
        text-align: center;
    }

    &__grid {
        @include grid-cols(3);
    }

}