@use "../utils/variables" as *;
@use "../utils/mixins" as *;


/* Body */
body {
    background-color: $color-light;
    color: $color-secondary;
    font-family: $font-family-primary;
}

/* Container */
.container {
    width: min($container-width, 90%);
    margin-inline: auto;
}

/* Section default spacing */
section {
    padding-block: $section-padding;
}

/* Common section title style */
.section-title {
    text-align: center;
    margin-bottom: $space-40;

    h2 {
        font-size: 2.25rem;
        color: $color-secondary;
        margin-bottom: $space-12;
    }

    p {
        color: $color-gray-400;
        max-width: 600px;
        margin-inline: auto;
        font-size: 1rem;
        line-height: 1.6;
    }
}