// Typography
@use '../utils/variables' as *;

body {
    font-family: $font-primary;
    color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-secondary;
    font-weight: 700;
    line-height: 1.2;
}