.color-picker {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
    position: absolute;
    bottom: 0;
    left: 2%;
}

.clr-btn {
    padding: 10px 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, filter 0.15s;
}

.clr-btn:hover {
    filter: brightness(0.85);
}

.clr-btn.red {
    background-color: #e74c3c;
}

.clr-btn.blue {
    background-color: #3498db;
}

.clr-btn.green {
    background-color: #2ecc71;
}

.clr-btn.yellow {
    background-color: #f1c40f;
}

.clr-btn.purple {
    background-color: #9b59b6;
}