@use './variables' as *;

@mixin container {
    width: 90%;
    max-width: $container-max;
    margin: 0 auto;
}

/* Flex Utils */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Grid Utils */
@mixin grid-cols($count) {
    display: grid;
    grid-template-columns: repeat($count, 1fr);
    gap: $space-32;
}