// Mixins
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin respond-to($breakpoint) {
    @if $breakpoint ==mobile {
        @media (max-width: $breakpoint-mobile) {
            @content;
        }
    }

    @else if $breakpoint ==tablet {
        @media (max-width: $breakpoint-tablet) {
            @content;
        }
    }

    @else if $breakpoint ==desktop {
        @media (max-width: $breakpoint-desktop) {
            @content;
        }
    }
}