@use '/src/styles/utils/variables' as *;
@use '/src/styles/utils/mixins' as *;

.bmi {
    background-color: $color-white;

    .container {
        @include flex-between;
        gap: $space-64;
        flex-wrap: wrap;
    }

    &__content-wrapper {
        max-width: 31.25rem;
        width: 100%;
    }

    &__description {
        font-size: $fs-lg;
        margin-top: $space-32;
    }

    &__input-group {
        display: flex;
        gap: $space-16;
        margin-top: $space-32;

        input {
            padding-left: $space-12;

            // WebKit browsers for delete number input arrows (Chrome, Edge, Opera)
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            // Firefox for delete number input arrows
            -moz-appearance: textfield;
        }

    }

    &__img-wrapper {
        max-width: 37.25rem;
        width: 100%;
        position: relative;
        --after-right: 5%; // Default position (underweight)

        &-title {
            text-align: center;
            font-weight: $fw-extra-bold;
        }

        &::after {
            content: '';
            position: absolute;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            bottom: -33px;
            right: var(--after-right);
            width: 10%;
            height: 10%;
            background: $color-secondary;
            z-index: 10;
            transition: right 0.3s ease;
        }
    }


}