@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: $navbar-height;
    background-color: transparent;
    color: $text-white;
    z-index: 100;

    .container {
        @include flex-between;

        span {
            display: none;
        }
    }

    &__img-wrapper {
        max-width: 220px;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__links {
        @include flex-center;
        gap: $space-32;

        &-item {
            a {
                color: $text-white;
                font-weight: 600;
                transition: $transition-base;

                &:hover {
                    color: $color-secondary;
                }
            }
        }
    }

    &--scrolled {
        background-color: #355592;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: $transition-slow;
    }
}