.title {
    font-weight: bold;
    color: #FEFADA;
    text-align: center;
    margin-top: 10rem;
    font-size: 4.5rem;

}

.name-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

#nameInput {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    width: 300px;
}

.name-input-wrapper label {
    font-size: 1.5rem;
    color: #FEFADA;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    color: white;

}


.roll-button {
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2rem auto;
    display: block;
}

.roll-button:hover {
    background-color: #45a049;
}

.roll-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}