.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.player-name {
    font-size: 3rem;
    font-weight: bold;
    color: aquamarine;
    font-style: italic;
}