/* // Note Textarea Styles */
.note-textarea-wrapper {
    margin-bottom: 12px;
    position: relative;
}

#note {
    /* // Textarea Styles */
    width: 31.25rem;
    min-width: 376px;
    height: 150px;
    padding: 12px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
}

/* // Note button Styles */


.add-btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #24C486;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 10%;
    right: 2%;
}

.add-btn:hover {
    background-color: #0b6d44;
}