@use '../../styles/utils/variables' as *;
@use '../../styles/utils/mixins' as *;

.trainers {
    background-color: $color-light;

    &__subtitle {
        font-size: $fs-lg;
        color: $text-secondary;
        margin-top: $space-16;
        max-width: 800px;
        margin-inline: auto;
    }

    &__cards-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: $space-48;
        margin-top: $space-64;
        max-width: 1000px;
        margin-inline: auto;
    }
}

// Trainer Card Component
.trainers__card {
    position: relative;
    border: 3px solid #e1a937;
    background: $color-white;
    border-radius: $radius-md;
    cursor: pointer;
    transition: transform $transition-base;

    &:hover {
        transform: translateY(-0.5rem);
    }
}

.trainers__card-border {
    position: absolute;
    inset: 0;
    pointer-events: none;

    &::before {
        content: "";
        position: absolute;
        top: -.8rem;
        left: 50%;
        transform: translateX(-50%);
        width: 5.625rem;
        height: .6125rem;
        background: #234c8a;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -0.8rem;
        left: 50%;
        transform: translateX(-50%);
        width: 6.8125rem;
        height: 0.6125rem;
        background: $color-primary;
        transition: width $transition-base;
    }
}

.trainers__card {

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 45%;
        width: 0.6125rem;
        height: 6.8125rem;
        background: $color-primary;
        transform-origin: top center;
        transition: height $transition-base;
    }

    &::before {
        left: -0.8rem;
    }

    &::after {
        right: -0.8rem;
    }
}

.trainers__card:hover {
    .trainers__card-border::after {
        width: 13.625rem;
    }

    &::before,
    &::after {
        height: 10.625rem;
    }

    .trainers__info {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.trainers__img-wrapper {
    width: 100%;
    aspect-ratio: 3/4;
    overflow: hidden;
    border-radius: calc($radius-md + -2.8px);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.trainers__info {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 85%;
    padding: $space-32 $space-20;
    background: #234c8a;
    clip-path: polygon(0% 20%, 10% 20%, 10% 8%, 90% 8%, 90% 20%,
            100% 20%, 100% 80%, 90% 80%, 90% 92%,
            10% 92%, 10% 80%, 0% 80%);

    opacity: 0;
    transform: translate(-50%, 100%);
    transition: all $transition-base;
    z-index: 3;
    pointer-events: none;
}

.trainers__name {
    color: $color-white;
    font-size: $fs-xl;
    font-weight: 700;
    margin-bottom: $space-8;
    text-align: center;
}

.trainers__role {
    color: $color-white;
    opacity: 0.9;
    text-align: center;
}

// Mobile Styles
@media (max-width: 576px) {
    .trainers {
        &__title {
            font-size: $fs-2xl;
            font-weight: $fw-extra-bold;
        }

        &__subtitle {
            font-weight: $fw-extra-bold;
            text-align: center;
        }
    }
}